<section class="screenshots-wrp">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="screenshots-img">
					<img src="{{site.baseurl}}/assets/images/moliles.png">
				</div>
			</div>
			<div class="col-md-6">
				<div class="screenshots-dt">
					<h2>App Screenshots</h2>
					<p>OMG Soundboard is a full soundboard app that will make your day a little brighter. It compiles a large number of humorous sounds, memes, and noises into one convenient location. The app's interface is simple and has a classic look to it. </p>
					<ul>
						<li>Huge amount of crazy tunes</li>
						<li>Open Source</li>
						<li>No ads</li>
						<li>Beautiful design</li>
					</ul>
					<p>What's exciting about this app is that it allows you to be only limited by your imagination. Download now and enjoy!</p>
				</div>
			</div>
		</div>
	</div>
</section>