<section class="apps-screenshot-area bg-color1 p-t-130 p-b-100">
	<div class="themeix-ani">
		<img src="{{site.baseurl}}/assets/images/themeix-ani1.png" alt="animated shape" class="shape-one">
		<img src="{{site.baseurl}}/assets/images/themeix-ani2.png" alt="animated shape" class="shape-two">
		<img src="{{site.baseurl}}/assets/images/themeix-ani3.png" alt="animated shape" class="shape-tree">
		<img src="{{site.baseurl}}/assets/images/themeix-ani4.png" alt="animated shape" class="shape-four">
		<img src="{{site.baseurl}}/assets/images/themeix-ani5.png" alt="animated shape" class="shape-five">
		<img src="{{site.baseurl}}/assets/images/themeix-ani6.png" alt="animated shape" class="shape-six">
	</div>
	<div class="container">
		<div class="apps-screenshot-wrapper">
			<div class="row">
				<div class="col-md-7">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img2.png" alt="Screenshot image" /></div>
							<div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img.png" alt="Screenshot image" /></div>
							<div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img2.png" alt="Screenshot image" /></div>
							<div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img.png" alt="Screenshot image" /></div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="screenshot-content m-l-30">
						<div class="section-title m-b-40" data-aos="fade-up">
							<h2 class="big-font2">App Screenshots</h2>
							<p>OMG Soundboard is a full soundboard app that will make your day a little brighter. It compiles a large number of humorous sounds, memes, and noises into one convenient location. The app's interface is simple and has a classic look to it.</p>
						</div>
						<ul class="screenshot-list m-b-40 list-inline">
							<li>Huge amount of crazy tunes</li>
							<li>Open Source</li>
							<li>No ads</li>
							<li>Beautiful design</li>
						</ul>
						<div class="apps-download-link">
							<p class="weight-medium">What's exciting about this app is that it allows you to be only limited by your imagination. Download now and enjoy!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>