{% if page.url == "/" %}
<!-- Navigation For Home Page -->
<nav class="themeix-navbar">
	<ul class="slimmenu main-menu">
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="#feature" class="js-scroll-trigger">Feature</a></li>
		<li><a href="/pages/contact" class="js-scroll-trigger">Contact</a></li>
	</ul>
</nav>
{% else %}
<!-- Navigation For Inner Pages -->
<nav class="themeix-navbar">
	<ul class="slimmenu main-menu">
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="#feature" class="js-scroll-trigger">Feature</a></li>
		<li><a href="/pages/contact" class="js-scroll-trigger">Contact</a></li>
	</ul>
</nav>
{% endif %}