{% if page.url == "/" %}
<!-- Navigation For Home Page -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav pull-right" id="menu">
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="#featured" class="js-scroll-trigger">Features</a></li>
		<li><a href="#contact" class="main-btn">Contact</a></li>
	</ul>
</div>
{% else %}
<!-- Navigation For Inner Pages -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav pull-right" id="menu">
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="#feature">Features</a></li>
		<li><a href="#contact" class="main-btn">Contact</a></li>
	</ul>
</div>
{% endif %}
