<section class="staggering-wrp" id="feature">
	<div class="container">
		<div class="staggering-block">
			<h1>Awe-inspiring and staggering</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="staggering-box aroowbox">
						<img src="{{site.baseurl}}/assets/images/1.png">
						<h3>Favorites</h3>
						<p>You can mark your favorite tunes as favorites.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="staggering-box aroowbox">
						<img src="{{site.baseurl}}/assets/images/2.png">
						<h3>Free app without ads</h3>
						<p>The app is available for free and does NOT have ads. Awesome! 😍</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="staggering-box">
						<img src="{{site.baseurl}}/assets/images/3.png">
						<h3>Fantastic</h3>
						<p>Did we already mention that OMGSoundboard is a fantastic app?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
