<!-- ==================== Start Testimonial Area  ========================= -->
<section class="testimonial-area bg-color1 p-b-130">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="testimonial-thumbs owl-thumbs list-inline" data-slider-id="1">
            <li class="author-img owl-thumb-item"><img src="assets/images/testimonial-author1.jpg" alt="author image" /></li>
            <li class="author-img owl-thumb-item"><img src="assets/images/testimonial-author3.jpg" alt="author image" /></li>
            <li class="author-img owl-thumb-item"><img src="assets/images/testimonial-author3.jpg" alt="author image" /></li>
            <li class="author-img owl-thumb-item"><img src="assets/images/testimonial-author4.jpg" alt="author image" /></li>
            <li class="author-img owl-thumb-item"><img src="assets/images/testimonial-author2.jpg" alt="author image" /></li>
            </ul>
        </div>
        <div class="col-md-7 offset-md-1">
            <div class="testimonial-slider owl-carousel" data-slider-id="1">
            <div class="item">
                <div class="author-content">
                    <div class="author-desc">
                        <h2 class="big-font2">Some Talk of Our  Clients</h2>
                        <p>Enim laoreet, id eu id  sed cursus vulputate orci et congue quam quam turpis quam lectus eu mauris. Nulla faucibusmpor invidunt ut and typesettiamet, consetetur sadips</p>
                    </div>
                    <div class="author-name">
                        <h5><a href="#">Simif  Roman</a><span>Web Developer, themeix</span></h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="author-content">
                    <div class="author-desc">
                        <h2 class="big-font2">Some Talk of Our  Clients</h2>
                        <p>Enim laoreet, id eu id  sed cursus vulputate orci et congue quam quam turpis quam lectus eu mauris. Nulla faucibusmpor invidunt ut and typesettiamet, consetetur sadips</p>
                    </div>
                    <div class="author-name">
                        <h5><a href="#">Max Jone</a><span>Web Developer, themeix</span></h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="author-content">
                    <div class="author-desc">
                        <h2 class="big-font2">Some Talk of Our  Clients</h2>
                        <p>Enim laoreet, id eu id  sed cursus vulputate orci et congue quam quam turpis quam lectus eu mauris. Nulla faucibusmpor invidunt ut and typesettiamet, consetetur sadips</p>
                    </div>
                    <div class="author-name">
                        <h5><a href="#">Uber Deo</a><span>Web Developer, themeix</span></h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="author-content">
                    <div class="author-desc">
                        <h2 class="big-font2">Some Talk of Our  Clients</h2>
                        <p>Enim laoreet, id eu id  sed cursus vulputate orci et congue quam quam turpis quam lectus eu mauris. Nulla faucibusmpor invidunt ut and typesettiamet, consetetur sadips</p>
                    </div>
                    <div class="author-name">
                        <h5><a href="#">Jone Elas</a><span>Web Developer, themeix</span></h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="author-content">
                    <div class="author-desc">
                        <h2 class="big-font2">Some Talk of Our  Clients</h2>
                        <p>Enim laoreet, id eu id  sed cursus vulputate orci et congue quam quam turpis quam lectus eu mauris. Nulla faucibusmpor invidunt ut and typesettiamet, consetetur sadips</p>
                    </div>
                    <div class="author-name">
                        <h6><a href="#">Ila Moke</a><span>Web Developer, themeix</span></h6>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Testimonial Area  ========================= -->