<!-- ==================== Start Testimonial Area  ========================= -->
<section class="testimonial-wrp">
	<div class="container">
		<div class="title">
			<h1>What Our User Say About Us</h1>
			<p>OMGSoundboard is an app that enhances every moment. Check out what our users have to say about us!</p>
		</div>
		<div class="backimg">
			<ul>
				<li><img src="{{site.baseurl}}/assets/images/user1.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user2.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user3.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user4.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user5.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user6.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user7.png" alt="author image" /></li>
			</ul>
		</div>
		<div class="testimonial-block">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero aliquam arcu mauris at. Consequat donec arcu netus libero convallis. Diam nunc lectus quisque in sed sapien. Leo, gravida”</p>
					<div class="user">
						<h3>John Doe</h3>
						<p>UI/UX Designer</p>
					</div>
				</div>
				<div class="item">
					<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero aliquam arcu mauris at. Consequat donec arcu netus libero convallis. Diam nunc lectus quisque in sed sapien. Leo, gravida”</p>
					<div class="user">
						<h3>John Doe</h3>
						<p>UI/UX Designer</p>
					</div>
				</div>
				<div class="item">
					<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero aliquam arcu mauris at. Consequat donec arcu netus libero convallis. Diam nunc lectus quisque in sed sapien. Leo, gravida”</p>
					<div class="user">
						<h3>John Doe</h3>
						<p>UI/UX Designer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ==================== End Testimonial Area  ========================= -->