<!-- ==================== Start Testimonial Area  ========================= -->
<section class="testimonial-wrp">
	<div class="container">
		<div class="title">
			<h1>What Our User Say About Us</h1>
			<p>OMGSoundboard is an app that enhances every moment. Check out what our users have to say about us!</p>
		</div>
		<div class="backimg">
			<ul>
				<li><img src="{{site.baseurl}}/assets/images/user1.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user2.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user3.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user4.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user5.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user6.png" alt="author image" /></li>
				<li><img src="{{site.baseurl}}/assets/images/user7.png" alt="author image" /></li>
			</ul>
		</div>
		<div class="testimonial-block">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<p>“Very fun to have. This makes zoom meetings a lot more entertaining :)). ”</p>
					<div class="user">
						<h3>John</h3>
						<p>Remote worker</p>
					</div>
				</div>
				<div class="item">
					<p>“This app is amazing! No ads, easy to use, and funny. You could do so much with this. I recommend highly!”</p>
					<div class="user">
						<h3>Pete</h3>
						<p>UI/UX Designer</p>
					</div>
				</div>
				<div class="item">
					<p>“This app has just the right features for using in a tabletop rpg, such as the ability to play multiple sounds concurrently and set individual looping, start time, and fading parameters”</p>
					<div class="user">
						<h3>Sweetie</h3>
						<p>Gaming girl</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ==================== End Testimonial Area  ========================= -->
