<!-- ==================== Start Watch Video Area  ========================= -->
<section class="video-wrp">
	<div class="container">
		<div class="video-dt">
			<h1>Trailer</h1>
			<p>Listen to Teddie Lizzard's review of the app</p>
			<div class="playimg">
				<img src="{{site.baseurl}}/assets/images/video.jpg">
				<a href="#"><img src="{{site.baseurl}}/assets/images/videoplay.png"></a>
			</div>
		</div>
	</div>
</section>
<!-- ==================== End Watch Video Area  ========================= -->