<!-- ==================== Start Watch Video Area  ========================= -->
<section class="watch-video-area bg-image1 bg-overlay p-t-130 p-b-130">
	<div class="container">
		<div class="watch-video-wrapper">
			<div class="row">
				<div class="col-lg-12 pr-0">
					<div>
						<h1>Trailer</h1>
						<h2>Listen to Teddie Lizard review of the app</h2>
					</div>
					<div class="watch-video-play">
						<img src="assets/images/watch-video-img.png" alt="watch image" />
						<a class="play-btn" href="#" data-toggle="modal" data-target="#watch-video"><i class="fas fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="watch-video" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Live Watching</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<iframe src="https://www.youtube.com/embed/lg4BtCwFyVM" allow="autoplay; encrypted-media" style="width:100%;height:315px;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ==================== End Watch Video Area  ========================= -->